{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a CECYMATH 2.0</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Operaciones matemáticas - CECYMATH 2.0</h1>
        <p>Reforzando tus conocimientos en matemáticas</p>
    </header>

    <main>
        <section id="menu-principal">
            <h2>Selecciona un tema para practicar</h2>
            <ul class="menu-grid">
                <li><a href="{% url 'suma' %}">Suma</a></li>
                <li><a href="{% url 'resta' %}">Resta</a></li>
                <li><a href="{% url 'multiplicacion' %}">Multiplicación</a></li>
                <li><a href="{% url 'division' %}">División</a></li>
                <li><a href="{% url 'jerarquia'%}">Jerarquia de Operaciones</a></li>
                <li><a href="{% url 'recta_numerica' %}">Recta Numérica</a></li>
                <li><a href="{% url 'ecuaciones_primer_grado' %}">Ecuaciones de primer grado</a></li>
                <li><a href="{% url 'ecuaciones_segundo_grado' %}">Ecuaciones de segundo grado</a></li>
                <li><a href="{% url 'factorizacion' %}"> Factorización</a></li>
                <li><a href="{% url 'areas_perimetros' %}"> Cálculo de áreas y perímetros</a></li>
                <li><a href="{% url 'polinomios' %}"> Polinomios</a></li>
                <li><a href="{% url 'agradecimientos' %}"> Equipo del proyecto</a></li>

            
            </ul>
        </section>
    </main>
</body>
</html>